<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="DAL" value="ChuanYuan.DAL" />
    <add key="Zs" value="http://localhost:45272" />
    <add key="YuanShi" value="案首" />
    <add key="XiangShi" value="解元" />
    <add key="HuiShi" value="会元" />
    <add key="DianShi" value="状元,榜眼,探花" />
    <add key="Final" value="冠军,亚军,季军" />
    <add key="Grading" value="1" />
    <add key="RobotNum" value="100" />
    <add key="competids" value="10240,10242,10243" />
    <!--IDS-->
    <add key="AUTHENTICATE_SERVER" value="http://ids.chuanyuankj.com/" />
    <add key="AUTHENTICATE_PAGE" value="Authenticate.aspx" />
    <add key="AUTHENTICATE_LOGINOUT_PAGE" value="AccountLogout.aspx" />
    <add key="SSO_COOKIE_DOMAIN" value="yibaolib.com" />
    <add key="SSO_COOKIE_PATH" value="/" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString1" connectionString="server=192.168.1.121;uid=sa;pwd=sa;database=ChuanYuan_CompetOnlineZS" providerName="System.Data.SqlClient" />
    <!--<add name="ConnectionString1" connectionString="server=.;uid=sa;pwd=sa;database=ChuanYuan_CompetOnline_Test" providerName="System.Data.SqlClient" />-->
    <add name="ConnectionString2" connectionString="server=192.168.1.121;uid=sa;pwd=sa;database=CySSO" providerName="System.Data.SqlClient" />
    <!--<add name="ConnectionString1" connectionString="server=e.yibaolib.com;uid=sa;pwd=cykj67658635#;database=ChuanYuan_CompetOnline" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString1" connectionString="server=101.69.195.103;uid=derekzhou;pwd=67658635@;database=ChuanYuan_CompetOnline" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.web>
    <customErrors mode="On">
      <error statusCode="404" redirect="~/Error/Index" />
    </customErrors>
    <compilation targetFramework="4.0" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="1024000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <!-- Begion js 调用跨域
    指定域名Access-Control-Allow-Origin 所有用 *，指定域名 http://www.sample.com
    -->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Methods" value="OPTIONS,POST,GET" />
        <add name="Access-Control-Allow-Headers" value="x-requested-with,content-type" />
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
    <!-- End js 调用跨域 -->
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: D659F94E-70B3-4CC8-A2F8-084F58602CAF-->