@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}
<ol class="breadcrumb no-radius">
    <li class="active">首页</li>
</ol>
<div class="container-fluid">
    @*<div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    服务器信息
                </div>
            </div>
        </div>
    </div>*@
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">最新消息</h3>
                </div>
                <div class="panel-body">
                    @*1.暂无消息。。。*@
                    欢迎登录co知识竞赛平台
                </div>
            </div>
        </div>
    </div>
    @*<div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">会员动态</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">大赛动态</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">奖品动态</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
    </div>*@
</div>
@*<script>
    $(document).ready(function () {       
        window.location.href = "http://localhost:64037/Home/Index";
    });
</script>*@
